<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <TMPL_IF NAME="META"><TMPL_VAR META></TMPL_IF>
    <TMPL_IF DYNAMIC>
    <TMPL_IF FORCEBASEURL><base href="<TMPL_VAR FORCEBASEURL>" /><TMPL_ELSE>
    <TMPL_IF BASEURL><base href="<TMPL_VAR BASEURL>" /></TMPL_IF>
    </TMPL_IF>
    </TMPL_IF>

    <title><TMPL_VAR TITLE></title>

    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; img-src https://*; child-src 'none';">

    <!-- ikiwiki CSS -->
    <link href="<TMPL_VAR BASEURL>style.css" rel="stylesheet" />

    <!-- Bootstrap core CSS -->
    <link href="<TMPL_VAR BASEURL>css/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="<TMPL_VAR BASEURL>css/bootstrap.local.css" rel="stylesheet" />

    <!-- Custom styles for derivatives -->
    <TMPL_IF LOCAL_CSS>
    <link rel="stylesheet" href="<TMPL_VAR BASEURL><TMPL_VAR LOCAL_CSS>" type="text/css" />
    <TMPL_ELSE>
    <link rel="stylesheet" href="<TMPL_VAR BASEURL>local.css" type="text/css" />
    </TMPL_IF>

    <TMPL_UNLESS DYNAMIC>
      <TMPL_IF EDITURL>
        <link rel="alternate" type="application/x-wiki" title="Edit this page" href="<TMPL_VAR EDITURL>" />
      </TMPL_IF>
      <TMPL_IF FEEDLINKS><TMPL_VAR FEEDLINKS></TMPL_IF>
      <TMPL_IF RELVCS><TMPL_VAR RELVCS></TMPL_IF>
      <TMPL_IF META><TMPL_VAR META></TMPL_IF>
      <TMPL_LOOP TRAILLOOP>
        <TMPL_IF PREVPAGE>
          <link rel="prev" href="<TMPL_VAR PREVURL>" title="<TMPL_VAR PREVTITLE>" />
        </TMPL_IF>
        <link rel="up" href="<TMPL_VAR TRAILURL>" title="<TMPL_VAR TRAILTITLE>" />
        <TMPL_IF NEXTPAGE>
          <link rel="next" href="<TMPL_VAR NEXTURL>" title="<TMPL_VAR NEXTTITLE>" />
        </TMPL_IF>
      </TMPL_LOOP>
    </TMPL_UNLESS>
  </head>
  <body>

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="<TMPL_VAR BASEURL>">~</a>
          <TMPL_LOOP PARENTLINKS>
            <TMPL_IF NAME="DEPTH_0">
            <TMPL_ELSE>
              <div class="navbar-brand">/ <TMPL_VAR TITLE></div>
              <a href="<TMPL_VAR NAME=URL>" class="navbar-brand"><TMPL_VAR NAME=PAGE></a>
            </TMPL_IF>
          </TMPL_LOOP>
          <TMPL_IF HAS_PARENTLINKS>
            <div class="navbar-brand">/</div>
            <div class="navbar-brand"><TMPL_VAR TITLE></div>
          </TMPL_IF>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <TMPL_IF SIDEBAR>
            <TMPL_VAR SIDEBAR>
            </TMPL_IF>
          <ul class="nav navbar-nav">
            <TMPL_LOOP BOOTMENU>
                <TMPL_IF FIRSTNAV>
                    <li <TMPL_IF ACTIVE>class="active"</TMPL_IF>><a href="<TMPL_VAR URL>"><TMPL_VAR PAGE></a></li>
                </TMPL_IF>
            </TMPL_LOOP>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container" id="content">


          <header class="page-header">
            <h1 class="nocount"><TMPL_VAR TITLE></h1>
          </header>

            <TMPL_VAR CONTENT>

            <TMPL_IF ENCLOSURE>
            <TMPL_IF HTML5><section id="enclosure"><TMPL_ELSE><div id="enclosure"></TMPL_IF>
            <a href="<TMPL_VAR ENCLOSURE>">Download</a>
            <TMPL_IF HTML5></section><TMPL_ELSE></div></TMPL_IF>
            </TMPL_IF>

            <TMPL_IF TRAILS>
              <TMPL_VAR TRAILS>
            </TMPL_IF>

            <TMPL_UNLESS DYNAMIC>
            <TMPL_IF COMMENTS>
            <TMPL_IF HTML5><section id="comments"><TMPL_ELSE><div id="comments"></TMPL_IF>
            <TMPL_VAR COMMENTS>
            <TMPL_IF ADDCOMMENTURL>
            <div class="addcomment">
            <a href="<TMPL_VAR ADDCOMMENTURL>">Add a comment</a>
            </div>
            <TMPL_ELSE>
            <div class="addcomment">Comments on this page are closed.</div>
            </TMPL_IF>
            <TMPL_IF HTML5></section><TMPL_ELSE></div></TMPL_IF>
            </TMPL_IF>

            <TMPL_IF HTML5><nav class="navbar navbar-default">
                <TMPL_ELSE>
                  <div class="navbar navbar-default">
            </TMPL_IF>
            <div class="container-fluid">

            <div id="navbar-footer" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
            <TMPL_IF TAGS>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tags <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <TMPL_LOOP TAGS>
                    <li><TMPL_VAR LINK></li>
                  </TMPL_LOOP>
                </ul>
              </li>
            </TMPL_IF>

            <TMPL_IF BACKLINKS>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Links<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <TMPL_LOOP BACKLINKS>
                    <li><a href="<TMPL_VAR URL>"><TMPL_VAR PAGE></a></li>
                  </TMPL_LOOP>
                  <TMPL_IF MORE_BACKLINKS>
                    <TMPL_LOOP MORE_BACKLINKS>
                      <li><a href="<TMPL_VAR URL>"><TMPL_VAR PAGE></a></li>
                    </TMPL_LOOP>
                  </TMPL_IF>
                </ul>
              </li>
            </TMPL_IF>
            <TMPL_IF HAVE_ACTIONS>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Meta<span class="caret"></span></a>
                <ul class="dropdown-menu">
              <TMPL_IF EDITURL>
                <li><a href="<TMPL_VAR EDITURL>" rel="nofollow">Edit</a></li>
              </TMPL_IF>
              <TMPL_IF RECENTCHANGESURL>
                <li><a href="<TMPL_VAR RECENTCHANGESURL>">Timeline</a></li>
              </TMPL_IF>
              <TMPL_IF HISTORYURL>
                <li class="hidden-xs"><a href="<TMPL_VAR HISTORYURL>">History</a></li>
              </TMPL_IF>
              <TMPL_IF GETSOURCEURL>
                <li class="hidden-xs hidden-sm"><a href="<TMPL_VAR GETSOURCEURL>">Source</a></li>
              </TMPL_IF>
              <TMPL_IF PREFSURL>
                <li><a href="<TMPL_VAR PREFSURL>">Prefs</a></li>
              </TMPL_IF>
              <TMPL_IF ACTIONS>
                <TMPL_LOOP ACTIONS>
                  <li class="hidden-xs"><TMPL_VAR ACTION></li>
                </TMPL_LOOP>
              </TMPL_IF>
              <TMPL_IF COMMENTSLINK>
                <li><TMPL_VAR COMMENTSLINK></li>
                <TMPL_ELSE>
                  <TMPL_IF DISCUSSIONLINK>
                    <li><TMPL_VAR DISCUSSIONLINK></li>
                  </TMPL_IF>
              </TMPL_IF>
                </ul>
              </li>
            </TMPL_IF>
            </ul>
            </div>
            </div>
            <TMPL_IF HTML5></nav>
            <TMPL_ELSE>
            </div>
            </TMPL_IF>

            </TMPL_UNLESS>
    </div> <!-- /container -->
    <footer class="footer">
      <div class="container">
        <p class="text-muted">
          <span class="copyright">
            <a href="<TMPL_VAR BASEURL>credit">&copy; and credits</a>
          </span>
        </p>
      </div>
    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="<TMPL_VAR BASEURL>js/jquery.min.js"></script>
    <script src="<TMPL_VAR BASEURL>js/bootstrap.min.js"></script>

  </body>
</html>
