<TMPL_LOOP TRAILLOOP>
  <TMPL_IF __FIRST__>
  <nav class="navbar">
    <ul class="nav navbar-nav pager">
  </TMPL_IF>
    <TMPL_IF PREVPAGE>
      <li class="previous">
          <a href="<TMPL_VAR PREVURL>">
              <span class="glyphicon glyphicon-menu-left"></span>
          <TMPL_VAR PREVTITLE></a>
      </li>
    </TMPL_IF>
    <li class="up">
        <a href="<TMPL_VAR TRAILURL>">
          <span class="glyphicon glyphicon-menu-up"></span>
        <TMPL_VAR TRAILTITLE></a>
    </li>
    <TMPL_IF NEXTPAGE>
      <li class="next">
          <a href="<TMPL_VAR NEXTURL>"><TMPL_VAR NEXTTITLE>
          <span class="glyphicon glyphicon-menu-right"></span>
          </a>
      </li>
    </TMPL_IF>
  <TMPL_IF __LAST__>
  </ul>
  </nav>
  </TMPL_IF>
</TMPL_LOOP>
